<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <Label class="action-bar-title" text="Dock Layout"></Label>
</ActionBar>

<DockLayout backgroundColor="lightgray" stretchLastChild="true">
  <Label text="left" dock="left" width="60" backgroundColor="red"></Label>
  <Label text="top" dock="top" height="60" backgroundColor="green"></Label>
  <Label text="right" dock="right" width="60" backgroundColor="blue"></Label>
  <Label text="bottom" dock="bottom" height="60" backgroundColor="yellow"></Label>
  <Label text="center" backgroundColor="aqua"></Label>
</DockLayout>