<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Optimizations"></Label>
</ActionBar>

<ScrollView>
    <GridLayout rows="auto, *, auto" columns="*, auto">
        <!-- <FlexboxLayout class="p-10" justifyContent="space-between" alignItems="center"> -->
            <Label row="0" col="0" (tap)="section1Arrow.text = section1Arrow.text === 'chevron-right' ? 'chevron-down' : 'chevron-right'"
                class="h2 p-b-10" text="Section 1" flexGrow="1" borderBottomWidth="1" borderColor="#eee"></Label>
            <Label row="0" col="1" #section1Arrow class="h2 fa p-b-10" text="chevron-right"></Label>
        <!-- </FlexboxLayout> -->
        <RadListView row="1" col="0" colSpan="2" [items]="cards" [visibility]="section1Arrow.text === 'chevron-down' ? 'visible' : 'collapse'">
            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
            <ng-template tkListItemTemplate let-card="item">
                <StackLayout class="p-10 card" width="200">
                    <Label class="t-20 text-bold" [text]="card.title"></Label>
                    <Label class="t-18" [text]="card.description" textWrap="true"></Label>
                    <FlexboxLayout justifyContent="space-between" alignItems="center">
                        <Label class="h3 p-b-10" text="Action 1"></Label>
                        <Label class="h3 p-b-10" text="Action 2"></Label>
                    </FlexboxLayout>
                </StackLayout>
            </ng-template>
        </RadListView>
        <!-- <ScrollView orientation="horizontal" [visibility]="section1Arrow.text === 'chevron-down' ? 'visible' : 'collapse'">
            <StackLayout orientation="horizontal" (loaded)="onLoaded($event)">
                <StackLayout class="p-10 card" width="200" *ngFor="let card of cards">
                    <Label class="t-20 text-bold" [text]="card.title"></Label>
                    <Label class="t-18" [text]="card.description" textWrap="true"></Label>
                    <FlexboxLayout justifyContent="space-between" alignItems="center">
                        <Label class="h3 p-b-10" text="Action 1"></Label>
                        <Label class="h3 p-b-10" text="Action 2"></Label>
                    </FlexboxLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView> -->
        
        <Image row="2" [src]="'https://images.unsplash.com/photo-1554755209-85e44182e019' | imgCache | async"></Image>
    </GridLayout>
</ScrollView>