<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <Label class="action-bar-title" text="Stack Layout"></Label>
</ActionBar>

<StackLayout class="page">
  <StackLayout>
    <Label class="h2 p-10" text="Hello StackLayoutComponent!"></Label>
    <Label class="h2 p-10" text="I Stack things"></Label>
  </StackLayout>
  <StackLayout>
    <Label class="h3" text="Also"></Label>
    <Label class="h3" text="Horizontally"></Label>
  </StackLayout>
</StackLayout>