<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <Label class="action-bar-title" text="Images"></Label>
</ActionBar>

<ScrollView>
  <StackLayout class="page">
    <Image src="res://icon"></Image>
    <Image src="res://dessert1"></Image>
    <Image src="res://dessert2"></Image>
    <Image src="res://dessert3"></Image>
    <Image src="res://dessert4"></Image>
    <Image src="res://dessert5"></Image>
    <Image src="res://dessert6"></Image>
    <Image src="res://dessert7"></Image>
    <Image src="res://dessert8"></Image>
    <Image src="res://drink1"></Image>
    <Image src="res://drink2"></Image>
    <Image src="res://drink3"></Image>
    <Image src="res://drink4"></Image>
    <Image src="res://drink5"></Image>
    <Image src="res://drink6"></Image>
    <Image src="res://drink7"></Image>
    <Image src="res://drink8"></Image>
    <Image src="res://drink9"></Image>
    <Image src="res://drink10"></Image>
    <Image src="res://drink11"></Image>
    <Image src="res://drink12"></Image>
  </StackLayout>
</ScrollView>