<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Overview"></Label>
</ActionBar>

<StackLayout class="page">
    <Label class="h2 text-center p-x-20 p-y-20" text="NativeScript UI Workshop"></Label>
    <Label class="objective-title" text="Objectives of the workshop"></Label>
    <Label class="tw objective" text="‣ Understand and familarise yourself with commonly used {N} Widgets"></Label>
    <Label class="tw objective" text="‣ Develop intuition for the usage of all 6 {N} Layouts"></Label>
    <Label class="tw objective" text="‣ Learn a technique with which scalable layouts can be written easily"></Label>
    <Label class="tw objective" text="‣ Find out how to effectively use RadListView"></Label>
    <Label class="tw objective" text="‣ Optimize layouts in order to improve performance and load times"></Label>
    <Label class="tw objective" text="‣ Identify and debug memory leaks in your application"></Label>
    <Label class="tw objective" text="‣ Learn how to efficiently convert a Design to NativeScript UI Code"></Label>
</StackLayout>