<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Overview"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <Label class="h2 text-center p-x-20 p-y-20" text="NativeScript UI Workshop"></Label>
</StackLayout>