<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Layouts Refresher"></Label>
</ActionBar>

<GridLayout class="page page-content list-group" rows="auto, auto, auto, auto, auto, auto">
    <Label row="0" class="fa h3 list-group-item" (tap)="onLayoutTap($event)" text="&#xf138;  Stack Layout"></Label>
    <Label row="1" class="fa h3 list-group-item" (tap)="onLayoutTap($event)" text="&#xf138;  Absolute Layout"></Label>
    <Label row="2" class="fa h3 list-group-item" (tap)="onLayoutTap($event)" text="&#xf138;  Wrap Layout"></Label>
    <Label row="3" class="fa h3 list-group-item" (tap)="onLayoutTap($event)" text="&#xf138;  Dock Layout"></Label>
    <Label row="4" class="h3 list-group-item" (tap)="onLayoutTap($event)">
        <FormattedString>
            <Span class="fa" text="&#xf138;  "></Span>
            <Span text="Flexbox Layout"></Span>
        </FormattedString>
    </Label>
    <Label row="5" class="fa h3 list-group-item" (tap)="onLayoutTap($event)" text="&#xf138;  Grid Layout"></Label>
</GridLayout>