<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <Label class="action-bar-title" text="Text Fields"></Label>
</ActionBar>

<StackLayout class="page p-20">
  <TextField hint="First Name" text=""></TextField>
  <TextField hint="Last Name" text=""></TextField>
  <TextField hint="Email" text=""></TextField>
  <TextField hint="Password" text=""></TextField>
  <TextField hint="Confirm Password" text=""></TextField>
  <StackLayout>
    <Label text="Hobbies"></Label>
    <TextField text=""></TextField>
  </StackLayout>
  <StackLayout>
    <Label text="Skills"></Label>
    <TextField text=""></TextField>
  </StackLayout>
  <TextView hint="Bio" text=""></TextView>
</StackLayout>