<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <Label class="action-bar-title" text="Labels"></Label>
</ActionBar>

<StackLayout class="page">
  <Label text="⌚️"></Label>
  <Label text="Aviator World Time Pilot Watch"></Label>
  <Label class="fa" text="Product Features chevron-right"></Label>
  <Label text="Features an integrated calendar, luminous hands and gold-plated stainless steel case."></Label>
</StackLayout>