<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Scalable Layouts"></Label>
</ActionBar>

<!-- <GridLayout rows="1*, 2*, 3*, 4*, 5*, 6*, 7*">
    <Label row="0" backgroundColor="violet"></Label>
    <Label row="1" backgroundColor="indigo"></Label>
    <Label row="2" backgroundColor="blue"></Label>
    <Label row="3" backgroundColor="green"></Label>
    <Label row="4" backgroundColor="yellow"></Label>
    <Label row="5" backgroundColor="orange"></Label>
    <Label row="6" backgroundColor="red"></Label>
</GridLayout> -->

<!-- <FlexboxLayout flexDirection="column">
    <Label flexGrow="0" backgroundColor="violet"></Label>
    <Label flexGrow="1" backgroundColor="indigo"></Label>
    <Label flexGrow="2" backgroundColor="blue"></Label>
    <Label flexGrow="3" backgroundColor="green"></Label>
    <Label flexGrow="4" backgroundColor="yellow"></Label>
    <Label flexGrow="5" backgroundColor="orange"></Label>
    <Label flexGrow="6" backgroundColor="red"></Label>
</FlexboxLayout> -->

<GridLayout rows="1/12*, 1/12*, 1/12*, 1/12*, 1/12*, 1/12*, 1/12*,  1/12*, 1/12*, 1/12*, 1/12*, 1/12*"
    columns="1/8*, 1/8*, 1/8*, 1/8*, 1/8*, 1/8*, 1/8*, 1/8*">
    <StackLayout row="0" col="0" colSpan="4" backgroundColor="red">

    </StackLayout>
    <StackLayout row="0" col="4" colSpan="4" backgroundColor="blue">

    </StackLayout>
    <StackLayout row="1" col="0" colSpan="2" backgroundColor="green">

    </StackLayout>
    <StackLayout row="1" col="2" colSpan="4" backgroundColor="orange">

    </StackLayout>
    <StackLayout row="1" col="6" colSpan="2" backgroundColor="purple">

    </StackLayout>
</GridLayout>