<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="onGoBack()"></NavigationButton>
    <Label class="action-bar-title" text="Buttons"></Label>
</ActionBar>

<StackLayout class="page">
  <!-- Regular Buttons -->
  <Button text="Login"></Button>
  <Button text="Register"></Button>
  <Button class="fa" text="plus Add to Cart"></Button>
  <Button text="Buy Now"></Button>
  <Button text="Proceed to Checkout"></Button>

  <!-- Progress Buttons -->
  
  <!-- Async Buttons -->
</StackLayout>